<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['products']"
            [routerLinkActive]="['active', 'fw-bolder']">Products</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['cart']"
              [routerLinkActive]="['active', 'fw-bolder']">
              <i class="bi bi-cart"></i>
              Cart
              <span class="badge rounded-pill bg-danger">
                +{{cartService.cartProducts.length}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>