@if (product$ | async; as product) {
<div class="row my-3">
  <div class="col-md-6">
    <img [src]="product.image" class="img-fluid" alt="{{ product.title }}">
  </div>
  <div class="col-md-6">
    <h2>{{ product.title }} ({{product.category}})</h2>
    <p>{{ product.description }}</p>
    <p>
      <ngb-rating [rate]="product.rating.rate" [max]="5" [readonly]="true" class="text-warning" />
      ({{product.rating.count}})
    </p>
    <p>Price: ${{ product.price }}</p>
    <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>
}