.input-group {
  width: 130px;
}
.decrease-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--bs-border-color);
}
.increase-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: var(--bs-border-color);
}
