<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary decrease-btn" type="button" (click)="decreaseQuantity()">-</button>
  </div>
  <input type="number" class="form-control" [(ngModel)]="quantity" min="1" readonly>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary increase-btn" type="button" (click)="increaseQuantity()">+</button>
  </div>
</div>