<div class="modal-header">
  <h4 class="modal-title">Confirmation</h4>
</div>
<div class="modal-body">
  <p>{{ message }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">No</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(true)">Yes</button>
</div>