@if (isLoading) {
<ngb-progressbar class="mb-3" type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
}
<form class="row mt-3" [formGroup]="searchForm">
  <div class="col-lg-6 col-md-6 col-sm-12 my-2">
    <input class="form-control" type="text" placeholder="Type to search ..." formControlName="term">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 my-2">
    <select class="form-select" formControlName="category">
      <option selected value="">Filter by category</option>
      @for (category of categories$ | async; track $index) {
      <option [value]="category">{{category}}</option>
      }
    </select>
  </div>
</form>
<div class="row">
  @if (filteredProducts$ | async; as filteredProducts) {
  @if (!filteredProducts.length) {
  <p class="text-primary-emphasis my-4">No products found!</p>
  }
  @for (product of filteredProducts; track $index) {
  <div class="col-lg-4 col-md-6 col-sm-12 my-4" (click)="goToDetails(product.id)">
    <app-product-item [product]="product" (addToCart)="addToCart(product)"></app-product-item>
  </div>
  }
  }
</div>