<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="cartProduct.image" class="img-fluid rounded-start cart-product-img" alt="{{ cartProduct.title }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{cartProduct.title}}</h5>
          <i class="bi bi-trash3 delete-icon" (click)="onRemoveFromCart()"></i>
        </div>
        <p>
          <ngb-rating [rate]="cartProduct.rating.rate" [max]="5" [readonly]="true" class="text-warning" />
          ({{cartProduct.rating.count}})
        </p>
        <p class="card-text text-primary-emphasis">Price: ${{ cartProduct.price }}</p>
        <app-product-quantity [quantity]="cartProduct.quantity"
          (quantityChange)="onQuantityChange($event)"></app-product-quantity>
      </div>
    </div>
  </div>
</div>