<div class="card h-100">
  <img [src]="product.image" class="card-img-top" alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text text-truncate">{{ product.description }}</p>
    <p class="card-text text-primary-emphasis">Price: ${{ product.price }}</p>
    <p>
      <ngb-rating [rate]="product.rating.rate" [max]="5" [readonly]="true" class="text-warning" />
      ({{product.rating.count}})
    </p>
    <a (click)="onAddToCart($event)" class="btn btn-primary">Add to Cart</a>
  </div>
</div>