<div class="row">
  <div class="col-lg-10 col-md-8 col-sm-12 my-3">
    @if (!cartProducts.length) {
    <p class="text-primary-emphasis">Your cart is empty, Go to Products section and start shopping!</p>
    }
    @else {
    <div class="row">
      @for (cartProduct of cartProducts; track $index) {
      <div class="col-12 my-3">
        <app-cart-item [cartProduct]="cartProduct" (removeFromCart)="removeFromCart(cartProduct)"
          (updateQuantity)="updateProductQuantity(cartProduct.id, $event)"></app-cart-item>
      </div>
      }
    </div>
    }
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 my-3">
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">Summary</h5>
        <p class="card-text text-primary-emphasis">Total: ${{ totalPrice }}</p>
        <a class="btn btn-primary" [routerLink]="'/checkout'">Checkout</a>
      </div>
    </div>
  </div>
</div>