<div class="my-3">
  <h2 class="mb-3">Checkout</h2>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div formGroupName="shippingInfo" class="mb-3">
      <h3>Shipping Information</h3>
      <div class="form-group mb-3">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" formControlName="fullName"
          [ngClass]="{ 'is-invalid': checkoutForm.get('shippingInfo.fullName')?.invalid && checkoutForm.get('shippingInfo.fullName')?.touched }">
      </div>
      <div class="form-group mb-3">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" formControlName="address"
          [ngClass]="{ 'is-invalid': checkoutForm.get('shippingInfo.address')?.invalid && checkoutForm.get('shippingInfo.address')?.touched }">
      </div>
      <div class="form-group mb-3">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" formControlName="city"
          [ngClass]="{ 'is-invalid': checkoutForm.get('shippingInfo.city')?.invalid && checkoutForm.get('shippingInfo.city')?.touched }">
      </div>
      <div class="form-group mb-3">
        <label for="postalCode">Postal Code</label>
        <input type="text" class="form-control" id="postalCode" formControlName="postalCode"
          [ngClass]="{ 'is-invalid': checkoutForm.get('shippingInfo.postalCode')?.invalid && checkoutForm.get('shippingInfo.postalCode')?.touched }">
      </div>
    </div>

    <div formGroupName="paymentInfo" class="mb-3">
      <h3>Payment Information</h3>
      <div>
        <p class="text-primary-emphasis">Total: ${{ totalPrice }}</p>
      </div>
      <div class="form-group mb-3">
        <label for="cardNumber">Card Number</label>
        <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber"
          [ngClass]="{ 'is-invalid': checkoutForm.get('paymentInfo.cardNumber')?.invalid && checkoutForm.get('paymentInfo.cardNumber')?.touched }">
      </div>
      <div class="form-group mb-3">
        <label for="expiry">Expiry Date</label>
        <input type="text" class="form-control" id="expiry" formControlName="expiry"
          [ngClass]="{ 'is-invalid': checkoutForm.get('paymentInfo.expiry')?.invalid && checkoutForm.get('paymentInfo.expiry')?.touched }">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Order</button>
  </form>
</div>